.d-none {
  display: none;
}

.show-card-img  {
  width: 100%;
  max-width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.card-wrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.show-container {
  width: 800px;
  margin: 0 auto;
  height: auto;
}

.ingredients-list {
  list-style: none;
  padding: 0;
}

.ingredient-row{
  display: flex;
  justify-content: space-between;
}



.selected-meals {
  position: fixed;
  border-top: 1px solid  black;
  bottom: 0;
  width: 800px;
  height: 80px;
  background-color: #FAF6F0;
  z-index: 4;
}

.bottom-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.active {
background-color: blue;
}
