.meal-row {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 12px;
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
}

.toggle-icon {
  position: absolute;
  right: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card-body h2 {
  font-size: 16px;
}
